npm init
npm install bcrypt
npm install cors --save
npm install express --save
npm install jwt-simple
npm install moment
npm install mongoose --save
npm install mongoose-paginate-v2
npm install multer --save
npm install validator --save
npm install nodemon --save-dev
npm install dotenv
